.adminnavbar{
    height: 70px;
    border-bottom: 0.5px solid rgb(227, 227, 227);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(246, 246, 246);
    background-color: rgba(17, 108, 139, 0.404);

    .adminwrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        .adminsearch{
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input{
                border: none;
                outline: none;
                background: transparent;


                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        .adminitems{
            display: flex;
            align-items: center;

            .adminitem{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;
                
                .adminicon{
                    font-size: 20px;
                }
                .admincounter{width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
            


                }
    
                
            }
        }


        
    }
}