.dashnavbar{
    height: 68px;
    border-bottom: 0.5px solid rgb(227, 227, 227);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(80, 43, 43);

    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input{
                border: none;
                outline: none;
                background: transparent;


                &::placeholder{
                    font-size: 12px;
                }
            }
        }

       


        
    }
}
.items{
    display: flex;
    align-items: center;
   

    
        
        

}